<div class="list-wrapper">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="list-wrap">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of items">
            <p class="text-primary">
              {{item.title}}
            </p>
            <div class="btn-group" role="group">
              <a href="#" class="btn btn-primary">Primary</a>
              <a href="#" class="btn btn-danger">Danger</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
